<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if record.title %}
        <title>{{ record.title }} | {{ app.config.get('general/sitename') }}</title>
    {% else %}
        <title>{{ app.config.get('general/sitename') }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ paths.theme }}css/theme.css">
</head>
<body>
    <header id="menu">
        <button id="menu-button">Menu</button>
        {{ menu('main', 'partials/_menu.twig') }}
    </header>
 
