{{ include('partials/_head.twig') }}

<article class="post">
  <header class="byline">
    <h1 class="page-title">{{ record.title }}</h1>
    <h2>{{ record.user.displayname }} - {{ record.datepublish | date('j F, Y') }}</h2>
  </header>

  {% if record.image is not empty%}
    <img src="{{ record.image | thumbnail(1000, 1000) }}" alt="{{ record.title }}">
  {% endif %}

  {{ record.body }}

  <footer class="post-footer">
    <div class="share">
      {{ include('partials/_share_buttons.twig') }}
    </div>

    <ul>
      {% for tags in record.taxonomy %}
        {% for link, tag in tags %}
          <li><a href="{{ link }}">{{ tag }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </footer>
</article>

{{ include('partials/_foot.twig') }}
