{{ include('partials/_head.twig') }}

<div id="hero">
	<img src="{{ paths.theme }}css/Logo.png" alt="Des Moines Workers' Alliance Logo">
	<h1>Des Moines Workers' Alliance</h1>   
</div>

<div id="aims">
	<div class="aim-image">
		<!--img src="{{ paths.theme }}css/Evictions-March.jpg" alt="Photo from a march agains homeless camp evictions"-->
	</div>

	<div class="aim-list">
		<h2>Aims</h2>
		<ol>
			<li>Maecenas faucibus mollis interdum.</li>
			<li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Nulla vitae elit libero, a pharetra augue.</li>
			<li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
		</ol>
	</div>
</div>

<div id="projects" class="three-item-container">
	{% setcontent projects = 'projects' %}

	{% for project in projects %}
		<div class="item">
			<a href="{{ project.link }}">
				<img src="{{ project.image | thumbnail(1000, 1000) }}" alt="{{ project.title }}">
			</a>
			<h2><a href="{{ project.link }}">{{ project.title }}</a></h2>
			<p class="teaser">{{ project.teaser }}</p>
			<a href="{{ project.link }}" class="continue">More Info</a>
		</div>
	{% endfor %}
</div>


{{ include('partials/_foot.twig') }}
