{{ include('partials/_head.twig') }}

{% if search %}
    <h1 class="page-title">{{ search }}</h1>
{% endif %}

<div id="posts">
    <div class="post-list">
        {% for record in records %}
            <div class="post">
                <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                <h3>{{ record.user.displayname }} - {{ record.datepublish | date('j F, Y') }}</h3>

                {% if record.image is not empty %}
                    <div class="post-excerpt image-excerpt">
                        <a href="{{ record.link }}" class="image-link">
													<img src="{{ record.image | thumbnail(1000, 1000) }}" alt="{{ record.title }}">
												</a>
                {% else %}
                    <div class="post-excerpt">
                {% endif %}
                    <div class="excerpt-text">
                        {{ record.teaser }}
                        <a href="{{ record.link }}" class="post-link">Continue Reading</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{{ include('partials/_foot.twig') }}
