{{ include('partials/_head.twig') }}

<article class="page-body">
	<header>
		<h1 class="page-title">{{ record.title }}</h1>

		{% if record.image is not empty%}
			<img class="head-image"src="{{ record.image | thumbnail(1000, 1000) }}" alt="{{ record.title }}">
    {% endif %}
	</header>

	{{ record.body }}
</article>

{{ include('partials/_foot.twig') }}
