{{ include('partials/_head.twig') }}

<div id="project-body" class="two-column-container">
    <div class="left-col">
        <img src="{{ record.image | thumbnail(1000, 1000) }}" alt="{{ record.title }}">

        <div class="share">
          {{ include('partials/_share_buttons.twig') }}
        </div>
    </div>

    <div class="right-col">
        <h1 class="page-title">{{ record.title }}</h1>
        {{ record.body }}
    </div>
</div>

{{ include('partials/_foot.twig') }}
