{{ include('partials/_head.twig') }}

<h1 class="page-title">{{ record.title }}</h1>

<div class="page-body">
	{{ record.body }}
</div>

{% setcontent projects = 'projects' %}

<div id="project-list">
	{% for project in projects %}
		<div class="two-column-container">
			<div class="left-col">
				<img src="{{ project.image | thumbnail(1000, 1000) }}" alt="{{ project.title }}">
			</div>

			<div class="right-col">
				<h2>{{ project.title }}</h2>
				{{ project.teaser }}
				<a href="{{ project.link }}" class="continue-link">More Info</a>
			</div>
		</div>
	{% endfor %}
</div>

{{ include('partials/_foot.twig') }}
